<!DOCTYPE html>
    <!-- Carousel
    ================================================== -->

    <!-- Required Javascript files to make Carousel run automatically -->
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="images/server.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 id="carousel-heading">Server Hosting</h1>
              <p id="carousel-text">Bliss Integrated Solutions are experts in providing Hosting Solutions</p>
              <!--<p><a class="btn btn-lg btn-primary" href="#hosting" role="button">Learn More</a></p>-->
              <br>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="images/Web-Design.jpg" alt="Second Slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 id="carousel-heading">Experts in Web Design.</h1>
              <p id="carousel-text">Bliss Integrated Solutions are experts in building highly responsive, mobile friendly, websites</p>
              <!--<p><a class="btn btn-lg btn-primary" href="#design" role="button">Web Services</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <!--<img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">-->
          <img class="third-slide" src="images/itsupport.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 id="carousel-heading">IT Consultancy Services</h1>
              <p id="carousel-text">Bliss Integrated Solutions have many years of consulting experience, and are experienced with Agile/Scrum development Projects</p>
              <!--<p><a class="btn btn-lg btn-primary" href="#consulting" role="button">Our Services</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="../#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="../#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<!-- Activate Carousel - make it run/scroll automatically -->
<script>
$(document).ready(function(){
  // Activate Carousel
  $("#myCarousel").carousel();

  // Enable Carousel Indicators
  $(".item1").click(function(){
      $("#myCarousel").carousel(0);
  });
  $(".item2").click(function(){
      $("#myCarousel").carousel(1);
  });
  $(".item3").click(function(){
      $("#myCarousel").carousel(2);
  });
    
  // Enable Carousel Controls
  $(".left").click(function(){
      $("#myCarousel").carousel("prev");
  });
  $(".right").click(function(){
      $("#myCarousel").carousel("next");
  });
});
</script>
    <!-- End Carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <!--<div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="images/Hosting_icon.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Hosting</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>--><!-- /.col-lg-4 -->
        <!--<div class="col-lg-4">
          <img class="img-circle" src="images/design_icon.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Web Design</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>--><!-- /.col-lg-4 -->
        <!--<div class="col-lg-4">
          <img class="img-circle" src="images/consultancy.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Consulting</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>--><!-- /.col-lg-4 -->
      <!--</div>--><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Server Hosting <span class="text-muted"></span></h2>
          <p class="lead">Bliss Integrated Solutions can provide Domain names, CPanel and Cloud hosting plus all the extras - web design, SEO, PPC, website security and server optimization. We can help grow your business.</p>
          <p><a class="btn btn-default" href="#hosting" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
          <img class="featurette-image img-responsive center-block" src="images/server_500x500.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Responsive Web Design <span class="text-muted"></span></h2>
          <p class="lead">Whether your looking for a simple highly responsive, mobile friendly website for your small business, or a CMS platform based on WordPress or Joomla, Bliss integrated Solutions has manu years of experience in building websites</p>
          <p><a class="btn btn-default" href="#design" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
          <img class="featurette-image img-responsive center-block" src="images/webdesign_500x500.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">IT Consultancy <span class="text-muted"></span></h2>
          <p class="lead">Bliss Integrated Solutions has many years of experience on consulting on many, varying IT projects.  From the development of an RFID warehouse tracking system for a logistics provider thru to scoping and specifying the requirements for a new IP based network infrastructure.  We even have Project Management experience of Waterfall or Agile based software development projects.</p>
          <p><a class="btn btn-default" href="#hosting" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
          <img class="featurette-image img-responsive center-block" src="images/server_500x500.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
